* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #eee;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    color: gray;
    max-width: 640px;
    margin: 0 auto;
    background: white;
    padding: 6px 20px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #666;
}

ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

li {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

li a {
    padding: 10px;
    display: block;
    text-align: center;
    background: gray;
    color: white;
    text-decoration: none;
    border-right: 1px solid #727272;
}

li:last-child a {
    border: 0;
}

li a.active,
li a:hover {
    background: yellowgreen;
}

p {
    margin-bottom: 20px;
    color: #333;
    margin-top: 20px;
}

h2 {
    margin: 20px 0;
    text-transform: uppercase;
}

#view {
    flex-grow: 1;
}

.code {
    overflow: hidden;
    clear: both;
    color: #f92672;
}

#home {
    float: right;
}

img {
    max-width: 100%;
}

footer {
    width: 100%;
    border-top: 1px solid lightgrey;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

body.loading > #loader {
    display: block;
}

#loader {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 85px;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
}