* {
	padding: 0;
	margin: 0;
}

html {
	background: #fcfcfc;
}

body {
	font-family: cursive;
	color: gray;
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	margin-bottom: 15px;
	color: #8cbc2b;
}

li {
	float: left;
	list-style: none;
	padding: 0;
}

li a {
	padding: 5px 18px;
	background: gray;
	color: white;
	text-decoration: none;
	border-right: 1px solid #727272;
}

li:last-child a {
	border: 0;
}

li a.active,
li a:hover {
	background: yellowgreen;
}

#params {
	padding-top: 20px;
	overflow: hidden;
	clear: both;
	color: #555;
}

a#home {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: auto;
	background: gray;
}

img {
	max-width: 100%;
}